// Import page-specific CSS files here.
@import "home";
@import "my_profile";

.search-bar {
  opacity: 0.9;
  width: 70%;
  height: 110%;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.home-banner {
  margin: 0 1.5rem;
  height: 140px;
  background-color: #addef2;
}

.carousel-item.active {
  background-color: transparent !important;
}
