<h1>Saved/Favourite Apps</h1>
<ul>
  <li>Navbar</li>
  <li>Banner like Uber</li>
  <li>GoBackbutton</li>
  <li>Expandable App Cards with Name, Description, 2 Links and Favourites/UnSaveButton</li>
  <li>Footer</li>
</ul>
