<%# <div class="col-md-12 text-center mt-4">
  <%= render 'favourites/favouritescard'%>
<%# </div> %>

 <h2 class="text-center mt-5 mb-4">My Favourites</h2>
  <div class="favourites-cards">
    <% @favourites.group_by {|f| f.bookmark.country}.each do |country|%>
      <h1> <%= country.first.name %> </h1>
       <% country.second.each do |favourite|%>
      <%= render "categories/app", bookmark: favourite.bookmark, favourite: favourite %>
    <% end %>
    <% end %>
  </div>
</div>
