<%# <div class="col-md-12 text-center mt-4">
  <%= render 'favourites/favouritescard'%>
<%# </div> %>


 <h2 class="text-center mt-5 mb-4">Favourites</h2>

 <%= render 'favourites/favouritescard' %>

 <br>

<div class="col-md-12 text-center">
  <%= link_to :back do %>
    <button type="button" class="btn btn-primary text-center">Explore</button>
  <% end %>
</div>
