<div class="btn-group mx-auto">
  <div class="position-relative">
    <%= form_with url: categories_path, method: :get do %>
      <%= country_select(nil, :country,
        {
          priority_countries: ["PT", "DE"],
          selected: params[:country],
          include_blank: 'Select a country'
        },
        {
          class: "form-control rounded-4 bg-white",
          data: { controller: "dropdown-submit", action: "change->dropdown-submit#change" },
        })
      %>
      <div class="position-absolute magnifier">
        <i class="fa-solid fa-solid fa-location-dot text-secondary"></i>
      </div>
    <% end %>
  </div>
</div>
