<html>
  <body>
    <div class="col-md-12 text-center">
      <div class="home-page" style="">
        <div class="home-page__top">
          <%= image_tag "Logo4.jpg", class: "home-page__logo" %>
          <br>
          <br>
          <h4>FIND THE APPS USED BY LOCALS.</h4>
        </div>

        <div class="col-md-12 text-center">
          <h4>WHERE ARE YOU GOING ?</h4>
          <br>
          <%= render 'shared/search' %>
        </div>

        <div class="home-page__buttons">
          <button class="btn btn-primary">Sign In</button>
          <br>
          <button class="btn btn-primary">Create an account</button>
        </div>
      </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
    </footer>
  </body>
</html>
