<h1>Landing Page</h1>
<ul>
  <li>no navbar</li>
  <li>LinkLocal (Logo)</li>
  <li>Find the apps used by local</li>
  <li>Search bar</li>
  <li>Log In Button</li>
  <li>Sign up Button (Don't have a account)</li>
  <li>Footer</li>
</ul>

<div class="btn-group mx-auto">
  <%= form_with url: categories_path, method: :get, class: "d-flex my-3 align-item-center" do %>
    <%= text_field_tag :country, params[:country], class: "form-control", placeholder: "Where to?" %>
  <% end %>
</div>
