.dropdown {
  display: flex;
  /* flex-flow: column wrap; */
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-left: 15px;
  /* padding: 5px; */
  width: 100%;
  border: none;
  /* text-align: center; */
  outline: none;
  font-size: 15px;
  justify-content: start;
}

.listingcard{
  background-color: #eee;
}

.dropdown h2{
  display: flex;
  /* flex-direction: row; */
  // justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
  /* padding-right: 180px; */
  padding-top: 16px;
  font-weight: bold;
  margin-left: 20px;
  text-align: start;
}

.links {
  a {
    text-decoration: none;
  }
}

.links img{
  height: 35px;
  width: 35px;
  border-radius: 5px;
  object-fit: cover;
}

.dropdown img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
}


.footer{
  background-color: #eee;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.active, .footer:hover {
  background-color: #eee;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #eee;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  flex-direction: column;
  font-size: small;
  background-color: #eee;
  text-align: top;
  padding: 15px;
  display: none;
  overflow: hidden;
  /* height: 15%; */
}

.container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 80%;
  font-family: sans-serif;
}

// .container:hover{
  // border-radius: 10px;
  // box-shadow: 0 0 15px rgba(100,100,100,0.1);
//}

.fa-solid fa-heart{
  font-size: 26px;
  color: blue;
}

a.favourite-btn{
  font-size: 30px;
  color: $blue
}

i.fa-solid.fa-heart{
  font-size: 30px;
  color: $blue;
}
