.favourite-btn {
  font-size: 26px;
  text-decoration: none;
}

.btn-flat {
  color: white;
  padding: 8px 48px;
  border-radius: 18px;
  background: rgba(34,87,191,255);
  transition: 0.3s ease;
}

.btn-flat:hover {
  color: white;
  background: rgba(34,87,191,255);
  opacity: 0.7;
}

.btn-back {
  color: white;
  padding: 4px 20px;
  border-radius: 18px;
  background: #3082d4;
  transition: 0.3s ease;
}

.btn-back:hover {
  color: white;
  background: rgba(34,87,191,255);
  opacity: 0.7;
}
