.col-md-12 {
  transition: transform 0.1s ease;
}

.col-md-12:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.category-card__bg-img{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 16px;
}

.blurred {
  background: #addef2;
  padding: 0px 10px;
  opacity: 0.7;
}

.card-phone {
  height: 220px;
  object-fit: contain;
  bottom: 0;
}

.banner-content {
  margin-left: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
}
