.categories-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0px 20px;
}

.categories-grid__container{
  width:98%;
  margin:auto
}

.categories-cards{
  padding: 30px 10px;
}

.category-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  position:relative
}

.carousel-description {
  position: absolute;
  top: 70%;
  z-index: 9999;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}

#linklocal-carousel {
  color: white;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 32px;
  position: absolute;
  top: 13%;
  z-index: 9999;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
  }
}

.card-product-infos {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 24px;
}
