.col-md-12 {
  transition: transform 0.1s ease;
}

.col-md-12:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.category-card__bg-img{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(1px);
  border-radius: 16px;
}
