.col-md-12 {
  transition: transform 0.1s ease;
}

.col-md-12:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.category-card__bg-img{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 16px;
}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
.card-phone {
  height: 220px;
  object-fit: contain;
  bottom: 0;
}

.banner-content {
  margin-left: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  margin-top: 14px;

  h1 {
    margin-top: 14px;
  }
}

.cat-name {
  font-size: 45px;
  color: white;
  opacity: 0.9;
  letter-spacing: 4px;
  margin-top: 5px;
}

.show-banner {
  margin: 1.5rem;
  height: 140px;
  background-color: #3082d4;
  opacity: 0.9;
}

.fav-name {
  font-size: 50px;
  color: white;
  opacity: 0.9;
  letter-spacing: 3px;
}

.banner-text {
  color: white;
}
