
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: 0px 25px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.footer-copyright{
  font-size: 10px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #3838cb;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }
