.navbar {
  justify-content: space-between;
  background-color:  #eee;
}

.container-fluid.white-bg{
  // justify-content: space-evenly;
}

.navbar-dark {
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 50px;
}

.white-bg {
  background: #F4F4F4;
  padding: 0px;

  button {
    background-color: #3082d4;;
    font-size: 15px;
    // opacity: 0.8;
  }
}

.display-contents {
  display: contents;
}

.text-align-center {
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  color: #3082d4;
}

// .home-page__logo{
//   color: blue;
//   font-size: 35px;
// }

.fa-house::before {
  font-size: 31px;
  color: #3082d4;
}

.fa-house{
  border-width: 1px;
  border-color: #3082d4;
}

.logo {
  width: 35%;
  // align-content: center;
}

//  new drop down

// body {

//   margin: 0;
//   padding: 0;

//   /* make it look decent enough */
//   background: #232323;
//   color: #cdcdcd;
//   font-family: "Avenir Next", "Avenir", sans-serif;
// }

#menuToggle
{
  display: block;
  // justify-content: end;
  position: relative;
  top: 0px;
  margin-left: 0;
  // left: 400px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #3082d4;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #3082d4;;

  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #3082d4;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

 #menu
{
  position: absolute;
  right: -10px; // starting position ***
  // margin-right: -1000px;
  padding: 5px;
  padding-top: 10px;


  // background:#F4F4F4;;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translateX(90px); // this is how much it will move across screen

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 2px 0;
  font-size: 14px;
  font-weight: bolder;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  color:  #3082d4;
}
