.navbar {
  justify-content: space-between;
  background-color:  #eee;
}

.container-fluid.white-bg{
  // justify-content: space-evenly;
}

.navbar-dark {
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 50px;
}

.white-bg {
  background: #F4F4F4;
  padding: 0px;

  button {
    background-color: #3082d4;;
    font-size: 15px;
    // opacity: 0.8;
  }
}

.display-contents {
  display: contents;
}

.text-align-center {
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  color: #3082d4;
}

// .home-page__logo{
//   color: blue;
//   font-size: 35px;
// }

.fa-house::before {
  font-size: 31px;
  color: #3082d4;
}

.fa-house{
  border-width: 1px;
  border-color: #3082d4;
}

.logo {
  width: 35%;
  // align-content: center;
}
