<div class="text-center category-img">

  <div style="background-image: linear-gradient(rgb(0 0 0 / 39%), rgb(49 111 173 / 52%)), url('<%= cl_image_path category.photo.key %>')" class="category-card__bg-img">
  </div>
  <div class="shadow rounded-4 d-flex fs-md-3 fs-sm-4 categories-cards">
    <%= link_to category_path(category, country), class: "text-black flex-grow-1 d-flex flex-row align-items-center text-decoration-none justify-content-center" do %>
      <div class="card-product-infos">
        <strong class="title blurred opacity"><%= title %></strong>
      </div>
    <% end %>
  </div>
</div>

