<div class="col-md-12 text-center">
  <%= render 'shared/search' %>
</div>
<br>
<div class="row">
  <ul data-search-country-target="country" style="list-style: none;">
    <% @categories.each do |category|%>
      <li><%= render 'categorycard', icon: category.icon, title: category.name, category: category, country: params[:country] %></li>
    <% end %>
  </ul>
</div>
<br>
