<h1>Homepage</h1>
<ul>
  <li>Navbar</li>
  <li>Banner like Uber (optional)</li>
  <li>Categories (Unabled when country is not selected)</li>
  <li>GoButton</li>
  <li>Footer</li>
</ul>

<div>
  <%= render 'shared/search' %>

  <ul data-search-country-target="country">
    <% @categories.each do |category|%>
      <li><%= link_to category.name, category_path(category, country: params[:country]) %></li>
    <% end %>
  </ul>
</div>
