<div class="home-banner rounded-4 position-relative mt-5">
  <%= image_tag "pngegg.png", class: "d-block bg-image rounded-4 card-phone position-absolute"%>
  <div class="banner-content">
    <p>Main Banner with the phone</p>
  </div>
</div>


<div class="search-bar">
  <%= render 'shared/search' %>
</div>

<div class="row categories-grid__container">
    <ul data-search-country-target="country" style="list-style: none;" class="categories-grid">
      <% @categories.each do |category|%>
        <li><%= render 'categorycard', icon: category.icon, title: category.name, category: category, country: params[:country] %></li>
      <% end %>
    </ul>
</div>
