<%= link_to "Home", categories_path(country: params[:country]) %>

<%= link_to "Save", favourites_path %>

<h1><%= @category.name %></h1>

<% if @applications.empty? %>
  <h3>NOT AVAILABLE FOR THIS COUNTRY</h3>
<% else %>
  <ul>
    <% @applications.each do |app| %>
      <li><%= app.name %></li>
    <% end %>
  </ul>
<% end %>
