<%= link_to "Home", categories_path(categories_path, country: params[:country]) %>

<h1><%= @category.name %></h1>
<ul>
  <li>Navbar</li>
  <li>Banner like Uber</li>
  <li>GoBackbutton</li>
  <li>Expandable App Cards with Name, Description, 2 Links and Favourites/SaveButton</li>
  <li>SearchAgainButton</li>
  <li>Footer</li>
</ul>

<% if @applications.empty? %>
  <p>NOT AVAILABLE FOR <%= params[:country].upcase %></p>
<% else %>
  <ul>
    <% @applications.each do |app| %>
      <li><%= app.name %></li>
    <% end %>
  </ul>
<% end %>
