<h1 class="text-center my-4"><%= @category.name %></h1>

<% if @applications.empty? %>
  <h3>NOT AVAILABLE FOR THIS COUNTRY</h3>
<% else %>
  <% @applications.each do |app| %>
      <%= render 'app', app: app %>
  <% end %>
<% end %>

<div class="col-md-12 text-center">
  <%= link_to :back do %>
    <button type="button" class="btn btn-primary text-center">Search Again</button>
  <% end %>
</div>
