<h1 class="text-center my-4"><%= @category.name %></h1>

<% if @bookmarks.empty? %>
  <h5 class="alert alert-warning">Sorry, no applications found for this country..</h5>
<% else %>
  <% @bookmarks.each do |bookmark| %>
    <%= render 'app', bookmark: bookmark %>
  <% end %>
<% end %>

<div class="col-md-12 text-center">
  <%= link_to :back do %>
    <button type="button" class="btn btn-primary text-center">Search Again</button>
  <% end %>
</div>
